openapi: 3.0.4
info:
  title: 用户&消息接口 - OpenAPI 3.0
  description: |-
    用户&消息接口

servers:
  - url: https://petstore3.swagger.io/api/v3
tags:
  - name: user
    description: Operations about user
  - name: message
    description: Everything about your Pets
    externalDocs:
      description: Find out more
      url: https://swagger.io
  - name: store
    description: Access to Petstore orders
    externalDocs:
      description: Find out more about our store
      url: https://swagger.io
components:
  schemas:
    User:
      type: object
      properties:
        user_id:
          type: string
          description: 用户公共ID
          example: user_public_id
        username:
          type: string
          example: theUser
        email:
          type: string
          example: john@email.com
        access_token:
          type: string
          example: '12345'
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    Message:
      type: object
      properties:
        id:
          type: string
          description: 消息公共ID
          example: "msg_123456789"
        session_id:
          type: integer
          example: 1
        context_id:
          type: string
          example: "ctx_abcdef123456"
        summary:
          type: string
          example: "关于信仰问题的讨论"